<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ykeocorp.letsgetfit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WorkoutActivity"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".NutritionActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".UserInfoActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".TrainingDifficultyActivity"
            android:parentActivityName=".WorkoutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".GainWeightTrainingDifficulty"
            android:parentActivityName=".WorkoutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".ScheduleLWeightEasy" />
        <activity android:name=".WorkoutLWEasyD1" />
        <activity android:name=".WorkoutLWEasyD2" />
        <activity android:name=".WorkoutLWEasyD3" />
        <activity android:name=".WorkoutLWEasyD4" />
        <activity android:name=".WorkoutLWEasyD5" />
        <activity android:name=".WorkoutLWEasyD6" />
        <activity android:name=".WorkoutLWEasyD7" />
        <activity android:name=".WorkoutLWEasyD8" />
        <activity android:name=".WorkoutLWEasyD9" />
        <activity android:name=".WorkoutLWEasyD10" />
        <activity android:name=".WorkoutLWEasyD11" />
        <activity android:name=".WorkoutLWEasyD12" />
        <activity android:name=".WorkoutLWEasyD13" />
        <activity android:name=".WorkoutLWEasyD14" />
        <activity android:name=".WorkoutLWEasyD15" />
        <activity android:name=".WorkoutLWEasyD16" />
        <activity android:name=".WorkoutLWEasyD17" />
        <activity android:name=".WorkoutLWEasyD18" />
        <activity android:name=".WorkoutLWEasyD19" />
        <activity android:name=".WorkoutLWEasyD20" />
        <activity android:name=".WorkoutLWEasyD21" />
        <activity android:name=".WorkoutLWEasyD22" />
        <activity android:name=".WorkoutLWEasyD23" />
        <activity android:name=".WorkoutLWEasyD24" />
        <activity android:name=".WorkoutLWEasyD25" />
        <activity android:name=".WorkoutLWEasyD26" />
        <activity android:name=".WorkoutLWEasyD27" />
        <activity android:name=".WorkoutLWEasyD28" />
        <activity android:name=".ScheduleLWeightMedium" />
        <activity android:name=".WorkoutLWMediumD1" />
        <activity android:name=".WorkoutLWMediumD2" />
        <activity android:name=".WorkoutLWMediumD3" />
        <activity android:name=".WorkoutLWMediumD4" />
        <activity android:name=".WorkoutLWMediumD5" />
        <activity android:name=".WorkoutLWMediumD6" />
        <activity android:name=".WorkoutLWMediumD7" />
        <activity android:name=".WorkoutLWMediumD8" />
        <activity android:name=".WorkoutLWMediumD9" />
        <activity android:name=".WorkoutLWMediumD10" />
        <activity android:name=".WorkoutLWMediumD11" />
        <activity android:name=".WorkoutLWMediumD12" />
        <activity android:name=".WorkoutLWMediumD13" />
        <activity android:name=".WorkoutLWMediumD14" />
        <activity android:name=".WorkoutLWMediumD15" />
        <activity android:name=".WorkoutLWMediumD16" />
        <activity android:name=".WorkoutLWMediumD17" />
        <activity android:name=".WorkoutLWMediumD18" />
        <activity android:name=".WorkoutLWMediumD19" />
        <activity android:name=".WorkoutLWMediumD20" />
        <activity android:name=".WorkoutLWMediumD21" />
        <activity android:name=".WorkoutLWMediumD22" />
        <activity android:name=".WorkoutLWMediumD23" />
        <activity android:name=".WorkoutLWMediumD24" />
        <activity android:name=".WorkoutLWMediumD25" />
        <activity android:name=".WorkoutLWMediumD26" />
        <activity android:name=".WorkoutLWMediumD27" />
        <activity android:name=".WorkoutLWMediumD28" />
        <activity android:name=".ScheduleLWeightHard" />
        <activity android:name=".WorkoutLWHardD1" />
        <activity android:name=".WorkoutLWHardD2" />
        <activity android:name=".WorkoutLWHardD3" />
        <activity android:name=".WorkoutLWHardD4" />
        <activity android:name=".WorkoutLWHardD5" />
        <activity android:name=".WorkoutLWHardD6" />
        <activity android:name=".WorkoutLWHardD7" />
        <activity android:name=".WorkoutLWHardD8" />
        <activity android:name=".WorkoutLWHardD9" />
        <activity android:name=".WorkoutLWHardD10" />
        <activity android:name=".WorkoutLWHardD11" />
        <activity android:name=".WorkoutLWHardD12" />
        <activity android:name=".WorkoutLWHardD13" />
        <activity android:name=".WorkoutLWHardD14" />
        <activity android:name=".WorkoutLWHardD15" />
        <activity android:name=".WorkoutLWHardD16" />
        <activity android:name=".WorkoutLWHardD17" />
        <activity android:name=".WorkoutLWHardD18" />
        <activity android:name=".WorkoutLWHardD19" />
        <activity android:name=".WorkoutLWHardD20" />
        <activity android:name=".WorkoutLWHardD21" />
        <activity android:name=".WorkoutLWHardD22" />
        <activity android:name=".WorkoutLWHardD23" />
        <activity android:name=".WorkoutLWHardD24" />
        <activity android:name=".WorkoutLWHardD25" />
        <activity android:name=".WorkoutLWHardD26" />
        <activity android:name=".WorkoutLWHardD27" />
        <activity android:name=".WorkoutLWHardD28"></activity>
    </application>

</manifest>