<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ykeocorp.letsgetfit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WorkoutActivity"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".NutritionActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".UserInfoActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".LoseWeightTrainingDifficulty"
            android:parentActivityName=".WorkoutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".GainWeightTrainingDifficulty"
            android:parentActivityName=".WorkoutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".GWEasy_Java.ScheduleGWeightEasy" />
        <activity android:name=".GWEasy_Java.WorkoutGWEasyD1" />
        <activity android:name=".GWEasy_Java.WorkoutGWEasyD2" />
        <activity android:name=".GWEasy_Java.WorkoutGWEasyD3" />
        <activity android:name=".GWEasy_Java.WorkoutGWEasyD4" />
        <activity android:name=".GWEasy_Java.WorkoutGWEasyD5" />
        <activity android:name=".GWEasy_Java.WorkoutGWEasyD6" />
        <activity android:name=".GWEasy_Java.WorkoutGWEasyD7" />
        <activity android:name=".GWEasy_Java.WorkoutGWEasyD8" />
        <activity android:name=".GWEasy_Java.WorkoutGWEasyD9" />
        <activity android:name=".GWEasy_Java.WorkoutGWEasyD10" />
        <activity android:name=".GWEasy_Java.WorkoutGWEasyD11" />
        <activity android:name=".GWEasy_Java.WorkoutGWEasyD12" />
        <activity android:name=".GWEasy_Java.WorkoutGWEasyD13" />
        <activity android:name=".GWEasy_Java.WorkoutGWEasyD14" />
        <activity android:name=".GWEasy_Java.WorkoutGWEasyD15" />
        <activity android:name=".GWEasy_Java.WorkoutGWEasyD16" />
        <activity android:name=".GWEasy_Java.WorkoutGWEasyD17" />
        <activity android:name=".GWEasy_Java.WorkoutGWEasyD18" />
        <activity android:name=".GWEasy_Java.WorkoutGWEasyD19" />
        <activity android:name=".GWEasy_Java.WorkoutGWEasyD20" />
        <activity android:name=".GWEasy_Java.WorkoutGWEasyD21" />
        <activity android:name=".GWEasy_Java.WorkoutGWEasyD22" />
        <activity android:name=".GWEasy_Java.WorkoutGWEasyD23" />
        <activity android:name=".GWEasy_Java.WorkoutGWEasyD24" />
        <activity android:name=".GWEasy_Java.WorkoutGWEasyD25" />
        <activity android:name=".GWEasy_Java.WorkoutGWEasyD26" />
        <activity android:name=".GWEasy_Java.WorkoutGWEasyD27" />
        <activity android:name=".GWEasy_Java.WorkoutGWEasyD28" />
        <activity android:name=".LWEasy_Java.ScheduleLWeightEasy" />
        <activity android:name=".LWEasy_Java.WorkoutLWEasyD1" />
        <activity android:name=".LWEasy_Java.WorkoutLWEasyD2" />
        <activity android:name=".LWEasy_Java.WorkoutLWEasyD3" />
        <activity android:name=".LWEasy_Java.WorkoutLWEasyD4" />
        <activity android:name=".LWEasy_Java.WorkoutLWEasyD5" />
        <activity android:name=".LWEasy_Java.WorkoutLWEasyD6" />
        <activity android:name=".LWEasy_Java.WorkoutLWEasyD7" />
        <activity android:name=".LWEasy_Java.WorkoutLWEasyD8" />
        <activity android:name=".LWEasy_Java.WorkoutLWEasyD9" />
        <activity android:name=".LWEasy_Java.WorkoutLWEasyD10" />
        <activity android:name=".LWEasy_Java.WorkoutLWEasyD11" />
        <activity android:name=".LWEasy_Java.WorkoutLWEasyD12" />
        <activity android:name=".LWEasy_Java.WorkoutLWEasyD13" />
        <activity android:name=".LWEasy_Java.WorkoutLWEasyD14" />
        <activity android:name=".LWEasy_Java.WorkoutLWEasyD15" />
        <activity android:name=".LWEasy_Java.WorkoutLWEasyD16" />
        <activity android:name=".LWEasy_Java.WorkoutLWEasyD17" />
        <activity android:name=".LWEasy_Java.WorkoutLWEasyD18" />
        <activity android:name=".LWEasy_Java.WorkoutLWEasyD19" />
        <activity android:name=".LWEasy_Java.WorkoutLWEasyD20" />
        <activity android:name=".LWEasy_Java.WorkoutLWEasyD21" />
        <activity android:name=".LWEasy_Java.WorkoutLWEasyD22" />
        <activity android:name=".LWEasy_Java.WorkoutLWEasyD23" />
        <activity android:name=".LWEasy_Java.WorkoutLWEasyD24" />
        <activity android:name=".LWEasy_Java.WorkoutLWEasyD25" />
        <activity android:name=".LWEasy_Java.WorkoutLWEasyD26" />
        <activity android:name=".LWEasy_Java.WorkoutLWEasyD27" />
        <activity android:name=".LWEasy_Java.WorkoutLWEasyD28" />
        <activity android:name=".GWMedium_Java.ScheduleGWeightMedium" />
        <activity android:name=".GWMedium_Java.WorkoutGWMediumD1" />
        <activity android:name=".GWMedium_Java.WorkoutGWMediumD2" />
        <activity android:name=".GWMedium_Java.WorkoutGWMediumD3" />
        <activity android:name=".GWMedium_Java.WorkoutGWMediumD4" />
        <activity android:name=".GWMedium_Java.WorkoutGWMediumD5" />
        <activity android:name=".GWMedium_Java.WorkoutGWMediumD6" />
        <activity android:name=".GWMedium_Java.WorkoutGWMediumD7" />
        <activity android:name=".GWMedium_Java.WorkoutGWMediumD8" />
        <activity android:name=".GWMedium_Java.WorkoutGWMediumD9" />
        <activity android:name=".GWMedium_Java.WorkoutGWMediumD10" />
        <activity android:name=".GWMedium_Java.WorkoutGWMediumD11" />
        <activity android:name=".GWMedium_Java.WorkoutGWMediumD12" />
        <activity android:name=".GWMedium_Java.WorkoutGWMediumD13" />
        <activity android:name=".GWMedium_Java.WorkoutGWMediumD14" />
        <activity android:name=".GWMedium_Java.WorkoutGWMediumD15" />
        <activity android:name=".GWMedium_Java.WorkoutGWMediumD16" />
        <activity android:name=".GWMedium_Java.WorkoutGWMediumD17" />
        <activity android:name=".GWMedium_Java.WorkoutGWMediumD18" />
        <activity android:name=".GWMedium_Java.WorkoutGWMediumD19" />
        <activity android:name=".GWMedium_Java.WorkoutGWMediumD20" />
        <activity android:name=".GWMedium_Java.WorkoutGWMediumD21" />
        <activity android:name=".GWMedium_Java.WorkoutGWMediumD22" />
        <activity android:name=".GWMedium_Java.WorkoutGWMediumD23" />
        <activity android:name=".GWMedium_Java.WorkoutGWMediumD24" />
        <activity android:name=".GWMedium_Java.WorkoutGWMediumD25" />
        <activity android:name=".GWMedium_Java.WorkoutGWMediumD26" />
        <activity android:name=".GWMedium_Java.WorkoutGWMediumD27" />
        <activity android:name=".GWMedium_Java.WorkoutGWMediumD28" />
        <activity android:name=".LWMedium_Java.ScheduleLWeightMedium" />
        <activity android:name=".LWMedium_Java.WorkoutLWMediumD1" />
        <activity android:name=".LWMedium_Java.WorkoutLWMediumD2" />
        <activity android:name=".LWMedium_Java.WorkoutLWMediumD3" />
        <activity android:name=".LWMedium_Java.WorkoutLWMediumD4" />
        <activity android:name=".LWMedium_Java.WorkoutLWMediumD5" />
        <activity android:name=".LWMedium_Java.WorkoutLWMediumD6" />
        <activity android:name=".LWMedium_Java.WorkoutLWMediumD7" />
        <activity android:name=".LWMedium_Java.WorkoutLWMediumD8" />
        <activity android:name=".LWMedium_Java.WorkoutLWMediumD9" />
        <activity android:name=".LWMedium_Java.WorkoutLWMediumD10" />
        <activity android:name=".LWMedium_Java.WorkoutLWMediumD11" />
        <activity android:name=".LWMedium_Java.WorkoutLWMediumD12" />
        <activity android:name=".LWMedium_Java.WorkoutLWMediumD13" />
        <activity android:name=".LWMedium_Java.WorkoutLWMediumD14" />
        <activity android:name=".LWMedium_Java.WorkoutLWMediumD15" />
        <activity android:name=".LWMedium_Java.WorkoutLWMediumD16" />
        <activity android:name=".LWMedium_Java.WorkoutLWMediumD17" />
        <activity android:name=".LWMedium_Java.WorkoutLWMediumD18" />
        <activity android:name=".LWMedium_Java.WorkoutLWMediumD19" />
        <activity android:name=".LWMedium_Java.WorkoutLWMediumD20" />
        <activity android:name=".LWMedium_Java.WorkoutLWMediumD21" />
        <activity android:name=".LWMedium_Java.WorkoutLWMediumD22" />
        <activity android:name=".LWMedium_Java.WorkoutLWMediumD23" />
        <activity android:name=".LWMedium_Java.WorkoutLWMediumD24" />
        <activity android:name=".LWMedium_Java.WorkoutLWMediumD25" />
        <activity android:name=".LWMedium_Java.WorkoutLWMediumD26" />
        <activity android:name=".LWMedium_Java.WorkoutLWMediumD27" />
        <activity android:name=".LWMedium_Java.WorkoutLWMediumD28" />
        <activity android:name=".GWHard_Java.ScheduleGWeightHard" />
        <activity android:name=".GWHard_Java.WorkoutGWHardD1" />
        <activity android:name=".GWHard_Java.WorkoutGWHardD2" />
        <activity android:name=".GWHard_Java.WorkoutGWHardD3" />
        <activity android:name=".GWHard_Java.WorkoutGWHardD4" />
        <activity android:name=".GWHard_Java.WorkoutGWHardD5" />
        <activity android:name=".GWHard_Java.WorkoutGWHardD6" />
        <activity android:name=".GWHard_Java.WorkoutGWHardD7" />
        <activity android:name=".GWHard_Java.WorkoutGWHardD8" />
        <activity android:name=".GWHard_Java.WorkoutGWHardD9" />
        <activity android:name=".GWHard_Java.WorkoutGWHardD10" />
        <activity android:name=".GWHard_Java.WorkoutGWHardD11" />
        <activity android:name=".GWHard_Java.WorkoutGWHardD12" />
        <activity android:name=".GWHard_Java.WorkoutGWHardD13" />
        <activity android:name=".GWHard_Java.WorkoutGWHardD14" />
        <activity android:name=".GWHard_Java.WorkoutGWHardD15" />
        <activity android:name=".GWHard_Java.WorkoutGWHardD16" />
        <activity android:name=".GWHard_Java.WorkoutGWHardD17" />
        <activity android:name=".GWHard_Java.WorkoutGWHardD18" />
        <activity android:name=".GWHard_Java.WorkoutGWHardD19" />
        <activity android:name=".GWHard_Java.WorkoutGWHardD20" />
        <activity android:name=".GWHard_Java.WorkoutGWHardD21" />
        <activity android:name=".GWHard_Java.WorkoutGWHardD22" />
        <activity android:name=".GWHard_Java.WorkoutGWHardD23" />
        <activity android:name=".GWHard_Java.WorkoutGWHardD24" />
        <activity android:name=".GWHard_Java.WorkoutGWHardD25" />
        <activity android:name=".GWHard_Java.WorkoutGWHardD26" />
        <activity android:name=".GWHard_Java.WorkoutGWHardD27" />
        <activity android:name=".GWHard_Java.WorkoutGWHardD28" />
        <activity android:name=".LWHard_Java.ScheduleLWeightHard" />
        <activity android:name=".LWHard_Java.WorkoutLWHardD1" />
        <activity android:name=".LWHard_Java.WorkoutLWHardD2" />
        <activity android:name=".LWHard_Java.WorkoutLWHardD3" />
        <activity android:name=".LWHard_Java.WorkoutLWHardD4" />
        <activity android:name=".LWHard_Java.WorkoutLWHardD5" />
        <activity android:name=".LWHard_Java.WorkoutLWHardD6" />
        <activity android:name=".LWHard_Java.WorkoutLWHardD7" />
        <activity android:name=".LWHard_Java.WorkoutLWHardD8" />
        <activity android:name=".LWHard_Java.WorkoutLWHardD9" />
        <activity android:name=".LWHard_Java.WorkoutLWHardD10" />
        <activity android:name=".LWHard_Java.WorkoutLWHardD11" />
        <activity android:name=".LWHard_Java.WorkoutLWHardD12" />
        <activity android:name=".LWHard_Java.WorkoutLWHardD13" />
        <activity android:name=".LWHard_Java.WorkoutLWHardD14" />
        <activity android:name=".LWHard_Java.WorkoutLWHardD15" />
        <activity android:name=".LWHard_Java.WorkoutLWHardD16" />
        <activity android:name=".LWHard_Java.WorkoutLWHardD17" />
        <activity android:name=".LWHard_Java.WorkoutLWHardD18" />
        <activity android:name=".LWHard_Java.WorkoutLWHardD19" />
        <activity android:name=".LWHard_Java.WorkoutLWHardD20" />
        <activity android:name=".LWHard_Java.WorkoutLWHardD21" />
        <activity android:name=".LWHard_Java.WorkoutLWHardD22" />
        <activity android:name=".LWHard_Java.WorkoutLWHardD23" />
        <activity android:name=".LWHard_Java.WorkoutLWHardD24" />
        <activity android:name=".LWHard_Java.WorkoutLWHardD25" />
        <activity android:name=".LWHard_Java.WorkoutLWHardD26" />
        <activity android:name=".LWHard_Java.WorkoutLWHardD27" />
        <activity android:name=".LWHard_Java.WorkoutLWHardD28" />
        <activity android:name=".LookFoodActivity"></activity>
    </application>

</manifest>